.button {
  padding: 10px;
  border-radius: 6px;
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid darkgray;
  transition: background-color, border 0.3s;
}

button:disabled {
  background-color: darkgray;
  border-color: gray;
}